<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <p class="m-0" style="font-size: 35px; font-weight: bold; font-family: 휴먼엽서체;">야! 너두?</p>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                  <li class="breadcrumb-item active">YANEODOO</li>
              </ol>
          </div>
      </div>
  </div>
</div>