<div class="content-wrapper" style='min-width:340;min-height:600px;'>
  {%include 'subpublic/chat_header.html'%}
  


<!-- 레이아웃 요소 위치 -->
<section class="content">

<div class="container-fluid">
  <div class="column" style='margin:auto;'>
    <section>



      <div class="card direct-chat direct-chat-primary" style='min-width:300px;max-width:70%;width:auto;min-height:600px;max-height:90%;clearfix'>
        <div class="card-header" style='text-align:center;background-color: #007bff;'>
          <span style='position:relative;display:inline-block;'><b style='color:white'>Chat Room</b></span>
          <div class="card-tools" value='Join'>
            <span><button style='border:none;background:none'><i onclick='enter_room();' id='enter_room' class='fas fa-door-closed' style='margin-right:4px;color:white'></i></button></span>
          </div>
<script>

function enter_room(){
  var url = 'http://' + document.domain + ':' + location.port;
      var socket = io.connect(url);
      var username='None';
              username = encodeURI(prompt('닉네임을 입력하세요.'));
              socket.emit('username', { 'username': username });
      $('#enter_room').attr('class','fas fa-door-open');
      $('#enter_room').attr('onclick','close_room()');
}
function close_room(){
  var url = 'http://' + document.domain + ':' + location.port;
  var socket=''
  var username='None';
      $('#enter_room').attr('class','fas fa-door-closed');
      $('#enter_room').attr('onclick','enter_room()');
}
</script>
  
        </div>




        <div style='height:100%;' class="card-body">


<!--------------- 소켓으로 메시지 수신 후 출력할 공간 -------------->
          <div class="direct-chat-messages" id='chatbox'>

          </div>
      </div>
        <div class="card-footer">
          <form action="#" method="post", id='msg_form'>
            <div class="input-group">
              <input type="text" name="message" placeholder="메시지를 입력하세요." class="form-control">
              <input type='hidden'/>
              <span class="input-group-append">
                <button type="button" id='send_btn' class="btn btn-primary">전송</button>
              </span>
            </div>
          </form>
        </div>
      </div>
 
    </section>

  </div>

</div>
</section>





{% include 'script/chat.html' %}
<!-- subpages/chat.html이 끝나는 부분 -->
</div>