<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		{% include "public/font.html" %}
		{% include "public/head.html" %}
	</head>
	<body>
		<div class="page-wrap" id="root">
			<!-- header -->
			{% include "public/header.html" %}
			<!-- Content-->
			<div class="wil-content">
				<!-- Section -->
				<section class="awe-section">
					<div class="container">
						<!-- page-title -->
						<div class="page-title pb-40">
							<h2 class="page-title__title">About Us</h2>
							<p class="page-title__text">Miniproject_Web-Service_YANEODOO</p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->
					</div>
				</section>
				<!-- End / Section -->
	
				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5 "><img src="https://cdn.pixabay.com/photo/2020/06/14/22/33/investment-5299600_960_720.jpg" alt="">
							</div>
							<div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
								
								<!--  -->
								<div class="mt-30">
									<h2 class="about__title" style="font-family: Nanum Brush Script; font-size: 40px; display: inline-block; color: crimson;">야! </h2>&nbsp;
									<h2 class="about__title" style="font-family: Nanum Brush Script; font-size: 40px; display: inline-block; color: mediumblue;">너두? </h2>
									<p class="about__subtitle" style="font-family: Jeju Gothic;">주식을 그래도 한번쯤 해봐야 하지 않을까</p>
									<p class="about__text" style="font-family: Nanum Gothic;"> <span style="font-weight: bolder; font-size: larger;">'야!너두?'</span>는 '야! 너도 주린이?'를 의미합니다.
										주식을 막 시작한 이들을 위해 정보를 제공하는 웹 서비스로,
										실시간 주가와 관련된 기사를 제공하고, 환율과 같은 거시경제 지표를 제공하여 주식을 시작하는 데 있어서, 
										도움을 드리고자 합니다 </p>
									<p class="about__text" style="font-family: Nanum Gothic;"> <span style="font-weight: bolder; font-size: larger;">'야!너두?'</span>는 무슨 정보를 얻어야 할지 모르는 '주린이' 여러분에게 도움을 드리고, '투자'에 대한 진입장벽을 낮추는데 가치를 두고 있습니다. </p>
									
									<!-- progress -->
									<!-- <div class="progress">
										<h5 class="progress__title">design</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="33" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">39%</span>
										</div>
									</div>
									
									<div class="progress">
										<h5 class="progress__title">photography</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="59" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">47%</span>
										</div>
									</div>
									
									<div class="progress">
										<h5 class="progress__title">web development</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="53" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">59%</span>
										</div>
									</div> -->
								</div><!-- End /  -->
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
			<!-- footer -->
			{% include "public/footer.html" %}
			
		</div>
		<!-- Vendors-->
		{% include "public/vendors.html" %}
	</body>
</html>