<!DOCTYPE html>
<html>
  <head>
    <title>Videos</title>
    {% include "public/head.html" %} {% include "public/font.html" %}
  </head>

  <body>
    <div class="page-wrap" id="root">
      <!-- header -->
      {% include "public/header.html" %}

      <!-- Content-->
      <div class="wil-content">
        <!-- Section -->
        <section class="awe-section">
          <div class="container">
            <!-- page-title -->
            <div class="page-title pb-40">
              <h2 class="page-title__title">Today's Contents</h2>
              <p
                class="page-title__text"
                style="font-family: Nanum Pen Script; font-size: 25px"
              >
                금일 업로드 조회수 상위 20
              </p>
              <div class="page-title__divider"></div>
            </div>
            <!-- End / page-title -->
          </div>
        </section>
        <!-- End / Section -->

        <!-- Section -->
        <section class="awe-section bg-gray">
          <div class="container">
            <p style="font-family: Jeju Gothic; font-weight: bold">
              {{youtube[0].meta}} 기준
            </p>
            <div
              class="grid-css grid-css--masonry"
              data-col-lg="3"
              data-col-md="2"
              data-col-sm="2"
              data-col-xs="1"
              data-gap="30"
            >
              <div class="grid__inner">
                <div class="grid-sizer"></div>
                <!-- 영상 1-->
                {% for dic in youtube %}
                <div class="grid-item">
                  <div class="grid-item__inner">
                    <div class="grid-item__content-wrapper">
                      <!-- work -->
                      <div class="work">
                        <a href="{{dic.v}}" target="_blank">
                          <!--여기는 링크-->
                          <!-- hoverbox ef-slide-top -->
                          <div class="hoverbox ef-slide-top light">
                            <!-- hb_front -->
                            <div class="hb_front"><img src="{{dic.n}}" /></div>
                            <!--여기는 썸네일-->
                            <!-- End / hb_front -->

                            <!-- hb_back -->
                            <div
                              class="hb_back"
                              ,
                              style="background: #fcc7cdfa"
                            >
                              <h2
                                class="work__title"
                                ,
                                style="
                                  font-size: 16px;
                                  color: rgb(255, 255, 255);
                                "
                                ;
                              >
                                {{dic.t}}
                              </h2>
                              <!--여기는 영상제목-->
                              <p></p>
                              <span
                                class="work__title"
                                ,
                                style="font-size: 20px; color: rgb(165, 37, 37)"
                                ;
                                >보러 가기</span
                              >
                            </div>
                            <!-- End / hb_back -->
                          </div>
                          <!-- End / hoverbox ef-slide-top -->
                        </a>
                      </div>
                      <!-- End / work -->
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="awe-text-center mt-50">
              <a
                class="md-btn md-btn--outline-primary"
                href="{{url_for('home')}}"
                >HOME
              </a>
            </div>
          </div>
        </section>
        <!-- End / Section -->
      </div>
      <!-- End / Content-->

      <!-- footer -->
      {% include "public/footer.html" %}
    </div>
    <!-- Vendors-->
    {% include "public/vendors.html" %}
  </body>
</html>
