<style>
  @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
  /* font-family: 'Jeju Gothic', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  /* font-family: 'Nanum Pen Script', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
  /* font-family: 'Hanna', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
  /* font-family: 'Nanum Brush Script', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  /* font-family: 'Nanum Gothic', serif; */
</style>