<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 ">
        <p class="footer__coppy">2020 &copy; Copyright <a href="http://awe7.com/">Awe7</a>. All rights Reserved.</p>
      </div>
      <div class="col-md-6 col-lg-6 ">
        <div class="footer__social">
          
          <!-- <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
          </a>
          
          <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
          </a>
          
          <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
          </a>
          
          <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
          </a>
          
          <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
          </a> -->
          
        </div>
      </div>
    </div>
  </div>
</div><!-- End / footer -->